<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
{% if site.ga_tracking_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_tracking_id }}');
  </script>
{% endif %}    
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title"><a href="/" style="text-decoration: none; color: inherit;">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline"><a href="/" style="text-decoration: none; color: inherit;">{{ site.description | default: site.github.project_tagline }}</a></h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <table border="0">
          <tr><td>Web:</td><td>Android:</td></tr>
          <tr>
            <td><a href="https://covid19travel.com">Covid19 Travel Information</a></td>
            <td><a href="https://binarysolutions.biz/fill-and-sign-pdf-forms-for-android">Fill and Sign PDF Forms for Android</a></td>
          </tr>
          <tr>
            <td><a href="https://mojamirovina.com">Moja mirovina - Informativni izračun | kalkulator mirovine</a></td>
            <td><a href="https://binarysolutions.biz/signature-capture-for-android">Signature Capture for Android</a></td>
          </tr>
          <tr>
            <td><a href="https://uplatime.com">Uplati me - bar kod generator za uplatnice HUB 3A</a></td>
            <td><a href="https://play.google.com/store/apps/details?id=biz.binarysolutions.elevation">Elevation and Sea Depth for Android</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://nauticalcalculator.eu">Nautical Calculator for Android</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://play.google.com/store/apps/details?id=biz.binarysolutions.imageconverter.ggl">Image Converter for Android</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://play.google.com/store/apps/details?id=biz.binarysolutions.mindfulnessmeditation">Mindfulness Meditation for Android</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://eurokonverter.com">Euro konverter for Android</a></td>
          </tr>          
        </table>
      </footer>
    </div>
  </body>
</html>
